@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Medium.woff");
  font-weight: normal;
}

body {
  margin: 60px 40px 0;
  font-family: Gilroy, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
}
